@import 'tailwindcss';

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 50px 50px;
  color: #ffffffde;
}
/* General Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #7c3aed;
}

::-webkit-scrollbar-thumb:hover {
  background: #9333ea;
  cursor: pointer;
}

/* Modal scrollbar */
.modal-scroll::-webkit-scrollbar {
  width: 8px;
}

.modal-scroll::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 8px;
}

.modal-scroll::-webkit-scrollbar-thumb {
  background: #7c3aed;
  border-radius: 8px;
}

.modal-scroll::-webkit-scrollbar-thumb:hover {
  background: #9333ea;
  cursor: pointer;
}
